.catagories-container {
    background-color: lightslategray;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px black
}

.catagories-container img {
    max-width: 25vw;
    margin-bottom: 10px;
}

.info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.category-name {
    font-size: 50px;
    color: rgb(54, 62, 71);
}

.start-btn {
    text-decoration: none;
    padding: 5px 30px;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.start-btn:hover {
    background-color: rgb(233, 233, 233);
    color: black;

}

@media only screen and (max-width : 600px) {}